.profile__avatar-button {
  background-color: rgb(0, 0, 0);
  border-radius: 40%;
  position: relative;
  outline: none;
  border: none;
  cursor: pointer;
}

.profile__avatar-button:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  content: '';
  border-radius: 40%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0,7s ease-in-out 0s;
}

.profile__avatar-button:hover:after {
  opacity: 0,8;
}

.profile__avatar-button:after {
  content: url(../../../images/pencil.svg);
  position: absolute;
  top: 35%;
  right: 35%;
  visibility: hidden;
}

.profile__avatar-button:hover:after {
  visibility: visible;
  transition: visibility 0.7s ease-in-out 0s;
}