.profile__edit-button {
  background: url(../../../images/edit-button.svg);
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 17px;
  margin-top: 19px;
  
}

.profile__edit-button:hover {
    transition: opacity 0.4s ease-out 0s;
}


@media screen and (max-width: 360px) {
  .profile__edit-button {
    background: url(../../../images/edit-button_mobile.svg);
    width: 18px;
    height: 18px;
  }
}