@import url(../header/__logo/header__logo.css);
@import url(../header/__line/header__line.css);

.header {
  max-width: 882px;
  width: 75%;
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto 40px;
}


@media screen and (max-width: 480px) {
  .header {
    padding-top: 28px;
    width: 100%;
  }
 }  